.grid-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

img.cover {
  object-fit: cover;
}

[class*="line-clamp-"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  -webkit-line-clamp: 5;
}

@media (min-width: 768px) {
  .grid-md-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 992px) {
  .grid-lg-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}