.kg-nav.navbar-dark .navbar-nav {
  .nav-link, .navbar-text {
    color: #fff;
  }
  
  .nav-item.product-type {
    background-color: #ffd000;
    
    .nav-link {
      width: 100%;
      min-width: 240px;
      display: flex;
      align-items: center;
      color: #000;
    }

    .dropdown-menu {
      min-width: 256px;
      margin-bottom: 8px;
      border-radius: unset;
      padding: unset;

      .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      li:not(:last-child) {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  .search-box {
    display: none;
    width: 100%;
  }
}

.grid-5-col {
  flex: 0 0 20%;
  max-width: 20%;
}

@media (max-width: 992px) {
  .kg-nav.navbar-dark .navbar-nav {
    .search-box {
      display: block;
    }
  }
}