img.cover {
  object-fit: cover;
}

.kg-nav.navbar-dark .navbar-nav {
  .nav-link, .navbar-text {
    color: #fff;
    font-size: 14px;
  }
  
  .nav-item.product-type {
    background-color: #ffd000;
    
    .nav-link {
      width: 100%;
      min-width: 240px;
      display: flex;
      align-items: center;
      color: #000;
    }

    .dropdown-menu {
      min-width: 256px;
      margin-bottom: 8px;
      border-radius: unset;
      padding: unset;

      .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      li:not(:last-child) {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  .search-box {
    display: none;
    width: 100%;
  }
}

.kg-carousel-b {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: -8px;
  margin-right: -8px;
}
.b-dropdown {
  button {
    svg {
      display: none;
    }
  }
}
.b-dropdown:not(.show) {
  svg:first-child {
    display: inline-block;
  }
}
.b-dropdown.show {
  svg:last-child {
    display: inline-block;
  }
}
.b-dropdown.bg-transparent{
  button {
    background-color: transparent !important;
    border: unset !important;
    color: #000;
  }
}
.card-product {
  border: 1px solid rgb(0 0 0 / 14%);
}
.card-product:hover {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.5);
}

.card-category {
  position: relative;
  font-weight: 500; 
  color: #fff !important;

  .card-img {
    object-fit: cover;
    aspect-ratio: 2.75;
  }
  .category-title {
    font-size: 1.5em;
  }
  .category-detail {
    font-size: 1.2em; 
  }
}
.card-category.pattern-1 {
  .category-text {
    position: absolute;
    top: 20%;
    left: 18%;
  }
}
.card-category.pattern-2 {
  .category-text {
    position: absolute;
    text-align: right;
    top: 20%;
    right: 18%;
  }
}

.card-product-blog {
  border-top: 1px solid rgb(0 0 0 / 14%);
  border-bottom: 1px solid rgb(0 0 0 / 14%);
}

.card-product-hot {
  border: 1px solid rgb(0 0 0 / 14%);
}

@media (min-width: 992px) {
  .card-product-blog > .row > div:first-child, 
  .card-product-blog > .row > div:nth-child(4n+4) {
    .card-product {
      border-left: 1px solid transparent;
    }
  }
  .card-product-blog > .row > div:not(:last-child), 
  .card-product-blog > .row > div:nth-child(3n+3) {
    .card-product {
      border-right: 1px solid transparent;
    }
  }
  .card-product-blog > .row > div:nth-child(n + 4) {
    .card-product {
      border-bottom: 1px solid transparent;
    }
  }

  .grid-lg-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 992px) {
  .kg-nav.navbar-dark .navbar-nav {
    .search-box {
      display: block;
    }
  }
}

@media (max-width: 576px) {
  .card-product-blog {
    border: unset;
  }
  .card-product-blog > .row {
    justify-content: space-around;
  }
  .card-product-blog > .row > div {
    padding-top: 12px;
    max-width: 240px;
  }
  .card-product-hot {
    margin-top: 12px;
  }
}