body {
  font-family: "Kanit", sans-serif;
}

.bg-light-yellow {
  background-color: #fffefb;
}

.bg-light-gray {
  background-color: #f5f5f5;
}

.btn-default {
  background-color: #f8f8f8;
  border-color: #e5e5e5;
}

.btn-default:hover {
  color: #6c757d;
}

.btn-ic-close {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 20px;
  height: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  line-height: 0;
  padding-bottom: 6px;
  background-color: #fff;
  opacity: 1;
}

.filter-panel {
  max-height: 250px;
  overflow-y: auto;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.filter-list-group-panel {
  max-height: 250px;
  overflow-y: auto;

  .list-group-item:first-child {
    border-top: unset;
  }
}

.manu-sidebar {
  position: fixed;
  left: calc(50vw + 590px);
  top: calc(50vh - 107.5px);
  max-width: 50px;
  font-size: 24px;
  text-align: center;
  z-index: 10000;

  img {
    width: 50px;
    height: 50px;
  }
}

.btn-ic-close:hover {
  background-color: #d1d1d1;
  color: #fff;
}

.cart-item-img {
  position: relative;
}

.dropdown-menu {
  border-radius: unset;
}

.kg-nav.navbar-dark .navbar-nav {

  .nav-link,
  .navbar-text {
    color: #fff;
    font-size: 14px;
  }

  .nav-item.product-type {
    background-color: #ffd000;

    .nav-link {
      width: 100%;
      min-width: 240px;
      display: flex;
      align-items: center;
      color: #000;
    }

    .dropdown-menu {
      min-width: 256px;
      margin-bottom: 8px;
      padding: unset;

      .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      li:not(:last-child) {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  .search-box {
    display: none;
    width: 100%;
  }
}

.kg-pageination {
  .page-item .page-link {
    color: #000;
    margin-left: 10px;
  }

  .page-item.active .page-link {
    color: #fff;
    background-color: #39b54a;
    border-color: #408de5;
  }

  .page-link:focus {
    box-shadow: 0 0 0 0.2rem #ccc9c959;
  }

  .page-item .page-link:hover {
    color: white;
    background-color: #408de5;
  }

  .page-item.active .page-link:hover {
    color: #fff;
    background-color: #39b54a;
    border-color: #408de5;
  }
}

.rounded {
  border-radius: 50% !important;
}

.baner-promotion-item {
  aspect-ratio: 32/15;
}

.list-group.category-list-group {
  max-height: 194px;
  overflow-y: auto;
}

.hover-warning:hover {
  background-color: #ffed9f;
  color: #856c00;
}

.kg-carousel-b {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: -8px;
  margin-right: -8px;
}

.b-dropdown.drop-icon {
  button {
    svg {
      display: none;
    }
  }
}

.b-dropdown.drop-icon:not(.show) {
  svg:first-child {
    display: inline-block;
  }
}

.b-dropdown.drop-icon.show {
  svg:last-child {
    display: inline-block;
  }
}

.b-dropdown.bg-transparent {
  button {
    background-color: transparent !important;
    border: unset !important;
    color: #000;
  }
}

.card-product-blog {
  border-top: 1px solid rgb(0 0 0 / 14%);
  border-bottom: 1px solid rgb(0 0 0 / 14%);
}

.card-product {
  border: 1px solid rgb(0 0 0 / 14%);

  .card-detail {
    position: relative;
    font-size: 12pt;
    text-align: center;

    a:hover {
      text-decoration: none;
    }

    .product-name {
      color: #444444;
      padding: 0px 1em;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .product-price {
      font-weight: 500;
      color: #222222;
    }

    .card-action {
      display: inline-flex;
      vertical-align: middle;
      border-bottom: 1px solid #eeeeee;
      position: absolute;
      transition: 0.5s ease;
      opacity: 0;
      left: 0;
      top: -38px;
      background-color: #fff;
      width: 100%;

      div.btn {
        border-color: transparent;
      }

      div.btn:hover>svg {
        color: #fff !important;
      }
    }
  }

  .card-promotion {
    display: inline-flex;
    vertical-align: middle;
    position: absolute;
    margin-left: 10px;
    left: 0;
    top: 12px;
    width: 100%;
    z-index: 1;
  }





  .card-detail-text {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}


.card-promotion-no-image {
  width: 100%;
  height: 220px;
  background: #54595c;
  color: #fff;
  font-size: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-product:hover {
  // box-shadow: 0 0 5px rgba(33, 33, 33, 0.5);

  .card-action {
    transition: 0.5s ease;
    opacity: 1;
  }
}

.card-category {
  position: relative;
  font-weight: 500;
  color: #fff !important;

  .card-img {
    object-fit: cover;
    aspect-ratio: 2.75;
  }

  .category-title {
    font-size: 1.5em;
  }

  .category-detail {
    font-size: 1.2em;
  }
}

.card-category.pattern-1 {
  .category-text {
    position: absolute;
    top: 20%;
    left: 18%;
  }
}

.card-category.pattern-2 {
  .category-text {
    position: absolute;
    text-align: right;
    top: 20%;
    right: 18%;
  }
}

.card-product-hot {
  border: 1px solid rgb(0 0 0 / 14%);
}

.btn-outline-light {
  border: 1px solid #ced4da !important;
  border-radius: 0px;
}

.table thead th {
  border-bottom: 1px solid #dee2e6;
}

table .cart-item-name {
  margin-left: 12px;
}

figure.image>img {
  max-width: 100%;
}

.svg-inline--fa {
  height: 1em;
}

@media (min-width: 768px) {
  .card-product-blog {
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .card-product-blog>.row>div:first-child,
  .card-product-blog>.row>div:nth-child(4n + 4) {
    .card-product {
      border-left: 0px solid transparent;
    }
  }

  .card-product-blog>.row>div:not(:last-child),
  .card-product-blog>.row>div:nth-child(3n + 3) {
    .card-product {
      border-right: 0px solid transparent;
    }
  }

  .card-product-blog>.row>div:nth-child(n + 4) {
    .card-product {
      border-bottom: 0px solid transparent;
    }
  }

  .list-group.category-list-group {
    max-height: 28vw;
  }
}

@media (min-width: 992px) {
  .card-product-blog {
    border-right: unset;
  }

  .product-bestseller>div:not(:last-child) {
    .card-product {
      border-right: 0px solid transparent;
    }
  }

  .list-group.category-list-group {
    max-height: 284.983px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .product-list>div:not(:nth-child(3n + 3)):not(:last-child) {
    .card-product {
      border-right: 0px solid transparent;
    }
  }
}

@media (min-width: 1200px) {
  .product-list>div:not(:nth-child(4n + 4)):not(:last-child) {
    .card-product {
      border-right: 0px solid transparent;
    }
  }

  .list-group.category-list-group {
    max-height: 348.983px;
  }
}

@media (max-width: 1200px) {
  .manu-sidebar {
    left: unset;
    right: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 992px) {
  .kg-nav.navbar-dark .navbar-nav {
    .search-box {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .card-product-blog {
    border: unset;
  }

  .card-product-blog>.row {
    justify-content: space-around;
  }

  .card-product-blog>.row>div {
    padding-top: 12px;
    max-width: 240px;
  }

  .card-product-hot {
    margin-top: 12px;
  }

  .manu-sidebar {
    top: calc(93vh - 107.5px);
  }
}

@media (max-width: 1024px) {
  .card-product .card-detail .card-action {
    opacity: 1;
  }
}

#my-modal___BV_modal_outer_ {
  z-index: 9999999 !important;
}